@{
    ViewData["Title"] = "Thank You";
}

<div class="details-container text-center">
    <h1>Thank you!</h1>
    <p>Your payment has been received.</p>

    <a asp-controller="Checkout" asp-action="List" class="btn btn-primary mt-3">
        Back to item list
    </a>
</div>

